.calculator{

    width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border: 1px solid black;
}

.calculator .operations-block button{
    width: 50px;
    height: 50px;
    margin: 25px;
}
/*делает блоки рядом
.calculator .inputs-block .input-block label{
    display: inline-block;
    padding: 10px;} */

.calculator .inputs-block .input-block label{
     display: block;
}